body{
    margin: auto;
    padding: 0%;
    background-size: cover; 
    background-size: 100%;
    background-image:radial-gradient(#95B9C7,#87AFC7,#659EC7,#3090C7,#488AC7,#368BC1,#357EC7,#736AFF,#6960EC);
    
}
.contentPane{
    width: 450px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium',sans-serif;
    background-color: #4C787E;
    background-image:radial-gradient(#3B9C9C,#3EA99F,#43BFC7);
    color: black;
    padding: 5px;
    border-radius: 10px;
    
  }
  .container{
    background-position: center;
    background-color: #4b6580;
    margin: auto;
    height: 600px;
    width: 1200px;
    border-radius: 10px;
  }
  
  table th{
    background-color: #f5a302;
    color: black;
    border: 2px solid black;
    border-radius: 50%;
    padding: 5px;
    width: 30px;
    text-align: center;
    font-size: 25px;
  }

  tr td{
    width: 25px;
    height: 40px;
    background: white;
    border-radius: 50%;
    text-decoration: none;
    color:black;
    padding: 20px 20px;
    border: 2px solid black;
    transition: 0.8s ease;
    margin: auto;
    margin-top: 50%;
    color: black;
    padding: 5px;
    text-align: center;
  }
  .bingoListOfNumbers{
    width: 600px;
    text-align: center;
    margin: auto;
    margin-top: 2%;
    font-family: 'Franklin Gothic Medium',sans-serif;
    background-color: #4b6580;
    color: black;
    padding: 25px;
    border-radius: 10px;
  }
   
  #displayRollNumbers{
    color: yellow;
    font-size: 25px;
  }

  .bingoCardBox{
  position: relative;
  background: #033c59;
  float: left;
  margin: 10px;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  }

  .bingoHead{
    background-color: #f5a302; 
  }
  .bingo{
    border: 1px solid #413839;
    color: black;
    padding: 2px ;
    cursor: pointer;
  }

  #free{
    background-color: #fcc100;
  }

button{
    text-decoration: none;
    color:black;
    padding: 5px 20px;
    border: 1px solid black;
    transition: 1s ease;
}

button: hover{
    background-color: black;
    color: #fff;
}
